<footer class="footer ">
  <div class="footer-content">
    <div class="footer-brand">
      <div class="logo-container">
        <div class="logo-icon"></div>
        <h2 class="brand-name">MediBook</h2>
      </div>
      <p class="brand-tagline">Your Health, Our Priority</p>
    </div>
    
    <div class="footer-links">
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/">Home</a></li> 
          <li><a routerLink="/about">About</a></li> 
          <li><a routerLink="/appointments">Doctors</a></li> 
          <li><a routerLink="/contact">Contact Us</a></li> 
        </ul>
      </div>
      
      <div class="footer-section">
        <h4>Specialties</h4>
        <ul>
          <li><a href="#">Cardiology</a></li>
          <li><a href="#">Dermatology</a></li>
          <li><a href="#">Pediatrics</a></li>
          <li><a href="#">Dentistry</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h4>Contact Info</h4>
        <div class="contact-info">
          <p>📍 Cairo, Egypt</p>
          <p>📞 +20 123 456 7890</p>
          <p>✉️ info@medibook.com</p>
        </div>
      </div>

      <div class="footer-section ">
        <h4 class="text-center">Follow Us</h4>
        <div class="social-links  ">
          <a href="https://www.facebook.com/" class="social-link facebook"target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://x.com/" class="social-link twitter"target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com/" class="social-link instagram"target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/" class="social-link linkedin" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>&copy; {{currentYear}} MediBook. All rights reserved.</p>
  </div>
</footer>