<nav id="clinic-nav"
   class="shadow app-header navbar navbar-expand-lg  fixed-top  py-3 px-4 ">
   <div class="container-xxl position-relative">
      <a class="logo navbar-brand d-flex flex-row align-items-center" href="/home">
         <div class="logo-img rounded-pill overflow-hidden position-absolute ">
            <img src="../../../assets/images/Logo.png" class="img-fluid " alt="">
         </div>
         <span class="h5  ms-2 mb-0 ms-5 ">Medibook</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class=" opacity-75"><i class="fa-solid fa-bars text-primary fa-lg"></i></span>
      </button>
      <div class="collapse navbar-collapse ms-2 " id="navbarSupportedContent">
         <ul class="navbar-nav mx-auto mb-2 mb-lg-0 column-gap-2 row-gap-2 ">
            <li class="nav-item">
               <a class="nav-link  " aria-current="page" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/contact">Contact Us</a>
            </li>
            <li class=" dropdown">
               <a class="nav-link  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  More
               </a>
               <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/appointments">Appointments</a></li>
                  <li><a class="dropdown-item" href="/user-profile">Profile</a></li>
                  <li><a class="dropdown-item" href="/doctors">Doctors</a></li>
                  <li><a class="dropdown-item" href="/nurses">Nurses</a></li>
                  
               </ul>
            </li>
         </ul>
         <div
            class="d-flex align-items-start align-items-lg-center column-gap-lg-3 row-gap-2 flex-column flex-lg-row mt-3 mt-lg-0  pt-3 pt-lg-0 border-lg-top border-secondary border-none">
            <button class="bg-transparent text-primary border-0 text-gray-300 px-0">
               <i class="fa-regular fa-bell icon-custom"></i> <span
                  class="icon-custom d-inline d-lg-none">Notifications</span>
            </button>
            <button class="bg-transparent text-primary border-0 text-gray-300 px-0">
               <i class="fa-regular fa-message icon-custom"></i> <span
                  class="icon-custom d-lg-none d-inline">Messages</span>
            </button>
            <button class="btn btn-primary py-3 py-lg-2 px-4 rounded-3 fw-bold wx-max"routerLink="/signin">Sign in</button>
            <button class="btn btn-outline-primary py-3 py-lg-2 px-4 rounded-3 fw-bold wx-max"routerLink="/signup">Sign up</button>
         </div>
      </div>
   </div>
</nav>