<div class="home ">
  <section class="hero-section overflow-hidden">
    <div class="overlaye"></div>
    <div class="hero-content">
      <h1>Welcome</h1>
      <p>Book appointments easily & manage your medical records online</p>

      <div class="hero-buttons">
        <button routerLink="/appointments" class="btn btn-primary rounded-3">
          Book Appointment
        </button>
        <button routerLink="/contact" class="btn btn-secondary rounded-3">Contact Us</button>
      </div>
    </div>
  </section>
  <section class="about-section ">
    <div class="container d-flex flex-column flex-lg-row align-items-center column-gap-4">
    <div class="about-text">
      <h2 class="section-title mx-auto mx-lg-0">About Our Medical Center</h2>
      <p class="section-desc">
        We provide world-class healthcare services with professional doctors, advanced equipment,
        and a patient-first environment. Our mission is to make your medical journey easier, safer,
        and more comfortable.
      </p>

      <button class="btn btn-primary more-btn" routerLink="/about">Learn More</button>
    </div>

    <div
      id="carouselExampleIndicators"
      class="carousel slide col-lg-6 section-top-space"
      data-bs-ride="carousel"
      data-bs-interval="3000"
    >
      <div class="carousel-inner rounded-5">
        <div class="carousel-item active">
          <div class="about-img">
            <img
              src="../../../assets/images/premium_photo-1681843126728-04eab730febe.avif"
              alt="medical center"
            />
          </div>
        </div>
        <div class="carousel-item">
          <div class="about-img">
            <img
              src="../../../assets/images/7bf3c1c975574a533b8e26cbfc1125c1.jpeg"
              alt="medical center"
            />
          </div>
        </div>
        <div class="carousel-item">
          <div class="about-img">
            <img
              src="../../../assets/images/medical-technology-concepts-medical-students-use-tablet-search-information-modern-office-1-1024x684.jpg.webp"
              alt="medical center"
            />
          </div>
        </div>
        <div class="carousel-item">
          <div class="about-img">
            <img
              src="../../../assets/images/istockphoto-1988844230-612x612.jpg"
              alt="medical center"
            />
          </div>
        </div>
        <div class="carousel-item">
          <div class="about-img">
            <img src="../../../assets/images/0x0.webp" alt="medical center" />
          </div>
        </div>
      </div>
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></button>
      </div>
    </div>
    </div>
  </section>
  <!-- Services Section -->
  <section class="services ">
    <div class="container">
    <h2 class="section-title mb-4 mx-auto">Our Services</h2>

    <div class="services-grid">
      <a class="service-box text-decoration-none" routerLink="/appointments">
        <i class="fa-solid fa-calendar-check text-primary"></i>
        <h3 class="fw-medium text-primary fs-4">Book Appointment</h3>
        <p class="text-dark-emphasis">Quick and easy online appointment booking.</p>
      </a>

      <a class="service-box text-decoration-none">
        <i class="fa-solid fa-user-doctor text-primary"></i>
        <h3 class="fw-medium text-primary fs-4">Doctors</h3>
        <p class="text-dark-emphasis">Meet our professional medical team.</p>
      </a>

      <a class="service-box text-decoration-none">
        <i class="fa-solid fa-file-medical text-primary"></i>
        <h3 class="fw-medium text-primary fs-4">Patient Records</h3>
        <p class="text-dark-emphasis">Access your medical history securely.</p>
      </a>
    </div>
    </div>
  </section>

  <!-- CTA -->
  <div class="cta">
    <h2>Join Us and Manage Your Health Easily</h2>
    <button routerLink="/signup" class="btn ">Create Account</button>
  </div>
 
  <section class="fav-feedback-section">
    <div class="container ">
      <div class="overlayy rounded-5 overflow-hidden">
        <h2 class="title mx-auto">Top Feedback</h2>

        <div class="cardss">
          <div class="cardd">
            <h4>Omar Ali</h4>
            <p>Excellent clinic, fast service and respectful doctors.</p>
            <span class="stars">⭐ 5</span>
          </div>

          <div class="cardd">
            <h4>Sara Mahmoud</h4>
            <p>The appointment system is smooth and very easy to use.</p>
            <span class="stars">⭐ 4</span>
          </div>

          <div class="cardd">
            <h4>Mohamed Adel</h4>
            <p>The doctor was very professional and helpful.</p>
            <span class="stars">⭐ 5</span>
          </div>
        </div>

        <button routerLink="/feedback" class="btn btn-primary btn-main rounded-3">
          View All Feedback
        </button>
      </div>
    </div>
      <div class="stats-section mt-2">
  <div class="container stats-container">

    <div class="stat-box">
      <h2 class="stat-number" data-target="1200">0</h2>
      <p class="stat-label">Happy Patients</p>
    </div>

    <div class="stat-box">
      <h2 class="stat-number" data-target="50">0</h2>
      <p class="stat-label">Professional Doctors</p>
    </div>

    <div class="stat-box">
      <h2 class="stat-number" data-target="3000">0</h2>
      <p class="stat-label">Appointments Booked</p>
    </div>

    <div class="stat-box">
      <h2 class="stat-number" data-target="10">0</h2>
      <p class="stat-label">Years of Experience</p>
    </div>

  </div>
</div>
  </section>
 
</div>
