.home {
}
.hero-section {
  position: relative;
  height: 100vh;
  background-image: url(../../../assets/images/istockphoto-2188821848-612x61.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlaye {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.314);
  background-image: linear-gradient(
    135deg,
    rgba(var(--secondary-600-rgb), 0.15),
    rgba(var(--primary-600-rgb), 0.15)
  );
}

.hero-content {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.hero-content h1 {
  font-size: 52px;
  font-weight: 900;
  margin-bottom: 15px;
  color: var(--primary-50);
  text-shadow: 0 0 10px var(--primary-400), 0 0 20px var(--primary-400), 0 0 40px var(--primary-400);
}
.hero-content h1::after {
  content: '';
  animation-name: smooth-typing-final;
  animation-duration: 18s;
  animation-iteration-count: infinite;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--primary-100);
}

.hero-buttons button {
  margin: 0 10px;
  padding: 12px 30px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}


.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 4rem 0;
}

.about-text {
  flex: 1;
}

.section-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  
}

.section-desc {
  font-size: 1.1rem;
  line-height: 1.7;
  color: var(-text-secondary);
  margin-bottom: 1.5rem;
}

.more-btn {
  padding: 0.8rem 3rem;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.about-img {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 380px;
  
  overflow: hidden;
}

.about-img img {
  width: 100%;
  
  object-fit: cover;
  box-shadow:var(--shadow-sm);
}

.carousel-indicators {
  margin-top: 20px;
   position: static;
}

.carousel-indicators button[data-bs-target] {
   text-indent: 0;
   width: 10px;
   height: 10px;
   transition: .3s all cubic-bezier(.4, 0, .2, 1);
   border-radius: 50%;
   background-color: var(--text-tertiary);
   border: none;
}

.carousel-indicators .active[data-bs-target] {
   background-color: var(--primary-600);

}

.carousel-indicators [data-bs-target]:hover,
.carousel-indicators .active[data-bs-target]:hover {
   width: 28px;
   background-color: var(--primary-600);
   border-radius: 12px;

}
/* ---------- Responsive ---------- */
@media (max-width: 992px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  
}


.services{
  padding-block: 90px;
}
.section-title {
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  width: fit-content;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, var(--secondary-600), var(--primary-600) 70% 100%);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.service-box {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 12px #00000036;
  transition: 0.3s;
  background: linear-gradient(135deg, var(--secondary-100), var(--primary-100) 70% 100%);
  cursor: pointer;
}
.service-box:hover {
  background: linear-gradient(135deg, var(--secondary-200), var(--primary-200) 70% 100%);
}

.service-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 9px 12px #00000036;
}

.service-box i {
  font-size: 40px;
  margin-bottom: 10px;
}

/* CTA */
.cta {
  text-align: center;
  padding: 20px 20px;
  padding-bottom: 90px;
  background: linear-gradient(135deg, var(--secondary-600), var(--primary-600) 70% 100%);
  color: #fff;
  
}
.cta h2 {
  text-align: center;
  margin: 40px auto;
  font-size: 42px;
  font-weight: 600;
  width: fit-content;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, var(--secondary-100), var(--primary-100) 70% 100%);
}

.cta button {
  margin-top: 15px;
  padding: 15px 80px;
  font-size: 18px;
  border-radius: 13px;
  color: #fff;
  background: linear-gradient(135deg, var(--secondary-400), var(--primary-400) 70% 100%);
}
button.btn {
  position: relative;
  font-size: 0.875rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

button.btn::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s all;
  transition-delay: 0.05s;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4) 35% 65%, transparent);
}

button.btn:hover::after {
  transform: translateX(200%);
}
button.btn:hover {
  transform: translateY(-0.1429rem);
}


.stats-section {
  
  padding: 4rem 0;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  text-align: center;
}

.stat-box h2 {
  font-size: 2.8rem;
  font-weight: 700;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, var(--secondary-600), var(--primary-600) 70% 100%);
  width: fit-content;
  margin: 0 auto;
}

.stat-label {
  font-size: 1.1rem;
  color: var(--text-secondary);
  margin-top: 0.5rem;
}

.stat-box {
  padding: 1rem;
  transition: 0.3s;
}

.stat-box:hover {
  transform: translateY(-6px);
}

/* ---------- Fav Feedback Section ---------- */


.fav-feedback-section {
  background: linear-gradient(135deg, var(--secondary-50), var(--primary-50) 70% 100%);
  padding: 100px 0;
  position: relative;
  
  
}

.fav-feedback-section .overlayy {
  background-image: linear-gradient(
      135deg,
      rgba(var(--secondary-800-rgb), 0.4),
      rgba(var(--primary-800-rgb), .4)
    ),
    url(../../../assets/images/blue-office-supplies-copy-space_23-2148475346.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   background-attachment: fixed;
  padding: 150px 0;
  
  text-align: center;
  position: relative;
}
.title {
 
  font-size: 42px;
  margin-bottom: 35px;
  font-weight: 900;
  width: max-content;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, var(--secondary-800), var(--primary-800) 70% 100%);
}

.cardss {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.cardd {
  background: #fff;
  width: 260px;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-image: linear-gradient(135deg, var(--secondary-100), var(--primary-100) 70% 100%);
}

.cardd:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.cardd h4 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.cardd p {
  color: #555;
  font-size: 15px;
  margin-bottom: 12px;
}

.stars {
  font-weight: bold;
  color: #f4b400;
}

/* Button */
.btn-main {
  
  
  padding: 13px 30px;
  border-radius: 6px;

 
  font-size: 16px;

}


